.quiz-editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.quiz-name-input {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    font-size: 2rem;
    border: 2px solid lightgray;
    border-radius: 0.5rem;
    min-width: 40%;
    color: #283C4D;
}

.save-exit-btn {
    background-color: #E4FBFF;
    color: #0075A3;
    border: none;
    padding: 1.5rem;
    border-radius: 4rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.save-exit-btn:hover {
    opacity: 0.8;
}