.quiz-editor-container {
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-question-container {
    text-align: center;
}

.add-question-heading {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.add-question-options {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.add-question-btn {
    background-color: #E4FBFF;
    color: #0075A3;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.add-question-btn:hover {
    opacity: 80%;
}