.readonly-question-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #283C4D;
    gap: 1.5rem;
}

.question-wrapper {
    display: flex;
    gap: 1rem;
}

.question-details-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}