.launch-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: 0 4rem;
    gap: 1.25rem;
}

.launch-button:hover {
    transform: scale(1.05); /* Slight scaling effect for hover */
    cursor: pointer; /* Ensures the pointer appears */
}

.launch-button-circle {
    width: 8rem;
    height: 8rem;
    border: 3px solid #6D9EC4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.launch-button-icon {
    width: 40%;
    height: 40%;
    object-fit: contain;
}

.launch-button-label {
    font-size: 1.25rem;
    color: #888888;
}