.quiz-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.quiz-list-tabs button {
    background-color: transparent;
}

.quiz-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-list-tabs {
    display: flex;
    gap: 2rem;
}

.quiz-list .tab {
    color: #283C4D;
    font-weight: 600;
    font-size: 1.25rem;
}

.tab:hover {
    text-decoration: underline;
    text-decoration-color: #5C6975;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.quiz-list-buttons {
    display: flex;
    gap: 2rem;
}